# Dependencies
node_modules/

# Build output
out/
popup/dist/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Temporary files
*.log
*.tmp

# ZIP packages (created by pkg.js)
*.zip
